 body {
  background-color: rgba(0, 0, 0, 0.932);
  font-family: Inter;
 }
 
    
    .container {
    
        height: 40%;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(6, 120px);
        grid-gap: 5px;
       margin-top: 15rem;
       margin-left: 22rem;
       margin-right: 22rem;
       
    }
 .grid1 {
   grid-row: 1/3;
   grid-column: 1/4;
    background-color: hsl(244, 38%, 16%);
    margin-right: -20px;
    }

h1 {
font-weight: 400;
font-size: 25px;
color:  hsl(0, 0%, 100%) ;
padding: 0px 0px 1px 25px;
}
span {
color:hsl(277, 64%, 61%);


}
p {
   color:  hsla(0, 0%, 100%, 0.75);
   padding-left: 25px;
    font-size: 12px;
}

h2 {
   color:  hsla(0, 0%, 100%, 0.6);


}

.grid2 {    
grid-column:4/7 ;
grid-row: 1/3;
margin-left: 5px;
font-style: none;

}

.coloredOverlay{
    /* background-color: hsla(277, 64%, 61%, 0.342);
    color: hsla(277, 64%, 61%, 0.342); */

    background: linear-gradient(#a525cc ,#79034c),url('./images/image-header-desktop.jpg') no-repeat top center;
    position: relative;
}


.color-fill{
    color: rebeccapurple;
    background-color: #a525cc;
    width: 100%;
    height: 100%;   
     border: 10px solid rgb(248, 241, 241);
     z-index: 1000;
     position: absolute;
     top: 0;
left: 0;
}
















/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)  */